/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
}

p {
  color: #707070;
}

.title h5 {
  color: #fb811e;
  text-transform: capitalize;
  font-size: 1.375rem;
}

.title h1 {
  font-size: 2.5rem;
  line-height: 3.125rem;
  font-weight: 600;
  color: black;
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 992px) {
  .title h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .title h1 {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
}

.title p {
  font-size: 1.125rem;
  line-height: 1.635rem;
}

.title button {
  background-color: #fb811e;
  line-height: 1.635rem;
  text-transform: uppercase;
  padding: 0.75rem 1.875rem;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.title button:hover {
  background-color: #009f4d;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Volkhov", serif;
}

/* HEADER */
.header-fixed {
  position: fixed;
  z-index: 1000;
  width: 100%;
  transition: all 0.4s ease 0s;
}

.nav-fixed {
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.nav-fixed #navCyber .navbar-brand {
  color: #000;
}

#navCyber {
  height: 5rem;
}
#navCyber .navbar-brand {
  font-family: "Volkhov", serif;
  position: relative;
  color: #fb811e;
  padding: 0;
  font-size: 2rem;
  transition: all 0.5s;
}

#navCyber .nav-item {
  list-style: none;
}

#check01 {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#navCyber .menu input:checked ~ .submenu {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
}

#navCyber .submenu {
  list-style: none;
  right: 0;
  max-height: 0px;
  min-width: 14em;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
  max-height: 0;
  transition: max-height 0.5s ease-in;
}

@keyframes max-height {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 400px;
  }
}

#navCyber .submenu .submenu-active {
  color: #fb811e;
}

#navCyber .submenu a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  background-color: transparent;
  display: block;
  padding: 7px;
  font-weight: 600;
  transition: all 0.5s;
}

#navCyber .submenu a:hover {
  color: #fb811e;
}

#navCyber .navbar-brand:hover {
  color: #000;
}

#navCyber .navbar-brand i {
  position: absolute;
  top: -0.125rem;
  left: 2.825rem;
  font-size: 1.25rem;
}

#navCyber button {
  background-color: transparent;
  border: none;
}

#navCyber button .fa-sun {
  display: none;
}

.navbar-light .navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
}

#navCyber .nav-item:first-child i {
  width: 35px;
  height: 35px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  border-radius: 50px;
  border: solid 1px #eee;
}

#navCyber .nav-item .fa-sun {
  display: none;
}

#navCyber .nav-item button {
  border: none;
  background: transparent;
}

#navCyber .nav-item:nth-child(2) i,
#navCyber .nav-item:nth-child(3) i {
  font-size: 25px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  transition: all 0.5s;
}

#navCyber .nav-item:nth-child(2):hover i {
  color: #fb811e;
}

.nav-fixed #navCyber .nav-item:nth-child(2) i,
.nav-fixed #navCyber .nav-item:nth-child(3) i {
  color: #000;
}

/* CAROUSEL */

.carousel__left {
  position: absolute;
  left: 10em;
}

.carousel__left h1 {
  font-size: 7.5rem;
  color: #f4f4f4;
  font-weight: bold;
  margin-left: -0.5em;
  position: relative;
  top: 64px;
}

.carousel__left h2 {
  font-size: 3.125rem;
  font-weight: bold;
  line-height: 3.75rem;
  position: relative;
  width: 120%;
  z-index: 1;
}

.carousel__left p {
  font-size: 1.25rem;
  color: #707070;
  width: 110%;
  z-index: 1;
  position: relative;
}

.carousel__right .carousel-item img {
  border-bottom-left-radius: 20px;
}

.carousel__right .carousel-caption {
  right: -53%;
}

.carousel__right .carousel-caption p {
  color: #fff;
}

.carousel__right .carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
}

.carousel__right .carousel-indicators .active {
  background-color: #fb811e;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 17%);
  top: 0;
  z-index: 1;
  border-radius: 0 0 0 30px;
}

.carousel-item {
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 0 30px;
}

.carousel-item:nth-child(1) {
  background-image: url(../img/b1.jpg);
}

.carousel-item:nth-child(2) {
  background-image: url(../img/b8.jpg);
}

.carousel-item:nth-child(3) {
  background-image: url(../img/b4.jpg);
}

.carousel__left .btn-cyber {
  background-color: #fb811e;
  color: #fff;
  border-radius: 30px;
  padding: 12px 25px;
  font-weight: bold;
  transition: all 0.5s;
}

.carousel__left .btn-cyber:hover {
  color: #fff;
  background-color: #009f4d;
}

/* ABOUT US */
.aboutUs {
  font-family: "Volkhov", serif;
}

.aboutUs__left .btn-cyber:hover {
  color: #fff;
  background-color: #009f4d;
}

.aboutUs__left .btn-cyber {
  background-color: #fb811e;
  color: #fff;
  border-radius: 30px;
  padding: 12px 25px;
  font-weight: bold;
  transition: all 0.5s;
}

.aboutUs__left h3 {
  color: #fb811e;
  font-size: 1.375rem;
}

.aboutUs__left h2 {
  font-weight: bold;
  line-height: 50px;
  font-size: 2.5rem;
}

.aboutUs__left p {
  font-size: 1.063rem;
  line-height: 27px;
  color: #707070;
}

.aboutUs__item-right {
  padding: 40px 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
  height: 100%;
}

.aboutUs__item-right:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.aboutUs__item-right a {
  font-family: "Volkhov", serif;
  font-size: 1.25rem;
  line-height: 28px;
  margin-top: 25px;
  display: block;
  color: #000;
  font-weight: bold;
  transition: all 0.5s;
}

.aboutUs__item-right a:hover {
  text-decoration: none;
  color: #009f4d;
}

.aboutUs__item-right img {
  width: 4.063rem;
}

/* SERVIES */
.services {
  background-color: #009f4d;
}

.services__title h3 {
  font-size: 1.375rem;
}

.services__title h2 {
  font-size: 2.5rem;
  line-height: 50px;
  font-weight: bold;
}

.services__title p {
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
}

.services__title h4 {
  position: absolute;
  right: 50%;
  bottom: 50%;
  opacity: 0.14;
  transform: translate(50%, 50%);
  font-weight: bold;
  font-size: 12vw;
}

.services__content .card-img-top {
  border-radius: 20px 20px 0 0;
}

.services__content .card-body {
  border-radius: 0 0 20px 20px;
  padding: 30px 20px;
}

.services__content .card-body a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 600;
  margin: 15px 0;
  display: block;
  transition: all 0.5s;
}

.services__content .card-body a:hover {
  color: #009f4d;
}

.services__content .card-body p:first-child {
  background-color: rgb(0 159 77 / 16%);
  display: inline-block;
  margin-bottom: 0;
  color: #009f4d;
  padding: 5px 20px;
  font-weight: 600;
  border-radius: 15px;
}

.services__content .card-body p:last-child {
  color: #707070;
  font-size: 17px;
}

/* EXPERIENCE */
.experience__left h3 {
  color: #fb811e;
  font-size: 1.375rem;
}

.experience__left h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 50px;
}

.experience__left p {
  color: #707070;
  font-size: 17px;
}

.experience__item i {
  font-size: 30px;
  color: #fb811e;
}

.experience__item h3 {
  color: #000;
  margin-bottom: 10px;
  font-weight: 600;
}

.experience__right img {
  border-radius: 30px;
}

.experience__box--right {
  color: #fff;
  bottom: 38px;
  left: -85px;
  position: absolute;
  padding: 40px;
  border-bottom-right-radius: 100px;
  background-color: #fb811e;
  text-align: center;
  min-width: 300px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
}

.experience__right h2 {
  font-size: 4.375rem;
  line-height: 80px;
  font-weight: 600;
}

.experience__right {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.experience__box--right p {
  color: #fff;
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
}

p {
  color: #707070;
}

.title h5 {
  color: #fb811e;
  text-transform: capitalize;
  font-size: 1.375rem;
}

.title h1 {
  font-size: 2.5rem;
  line-height: 3.125rem;
  font-weight: 600;
  color: var(--heading-color);
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 992px) {
  .title h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .title h1 {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
}

.title p {
  font-size: 1.125rem;
  line-height: 1.635rem;
}

.title button {
  background-color: #fb811e;
  line-height: 1.635rem;
  text-transform: uppercase;
  padding: 0.75rem 1.875rem;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.title button:hover {
  background-color: #009f4d;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

/* Feature */

.feature .feature__item {
  padding: 2rem 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.feature .feature__item:hover {
  text-decoration: none;
  border: 1px solid #eee;
}

.feature .feature__item:focus {
  border: 1px dotted black;
}

.feature a {
  text-decoration: none;
}

.feature a h4 {
  text-transform: capitalize;
  color: black;
  font-weight: 600;
}

.feature .feature__item:hover h4 {
  color: #009f4d;
  transition: all 0.3s;
}

.feature a p {
  margin-top: 0.625rem;
  margin-bottom: 0;
  color: #707070;
}

/* Gallery  */

.gallery .container {
  padding: 0 15px 0;
}

.gallery__item {
  padding: 0 !important;
}

.gallery__item .title button:active {
  color: #fff;
  background-color: #956fef;
  border-color: #956fef;
}

.gallery__item .title button:focus {
  color: #fff;
  background-color: #956fef;
  border-color: #956fef;
  box-shadow: 0 0 0 0.2rem rgb(102 16 242 / 35%);
}

@media (max-width: 450px) {
  .gallery__item:first-of-type {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }
}

.gallery__item figure {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.gallery__item figure img {
  width: 100%;
}

.gallery__item figcaption h5 {
  width: 80%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: inline-block;
  font-family: "Volkhov", serif;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  background: rgb(255 255 255 / 27%);
  margin: 1.25rem 0 1.25rem;
  padding: 6px;
}

.gallery__item figure::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -75%;
  display: block;
  transform: skewX(-17deg);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transition: all 0.8s;
}

.gallery__item:hover figure::before {
  animation: toRight 1s;
}

@keyframes toRight {
  0% {
    left: -75%;
  }

  100% {
    left: 125%;
    opacity: 0;
  }
}

/* Feedback */
.feedback {
  position: relative;
  background-image: url(../img/bg1.jpg);
}

.feedback::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgb(10 10 10 / 52%);
}

.feedback__content {
  max-width: 900px;
  margin: auto;
}

.feedback__content .feedback__left h4 {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 1rem 0 0.5rem;
  color: #fff;
}

.feedback__content .feedback__left p {
  color: #fff;
}

.feedback__content .feedback__left img {
  width: 5.625rem;
  height: 5.625rem;
  display: inline-block;
}

.feedback__content .feedback__right i {
  display: block;
  font-size: 1.25rem;
  color: #fb811e;
  font-weight: 600;
}

.feedback__content .feedback__right p {
  font-size: 1.375rem;
  line-height: 2.175rem;
  color: #fff;
  text-indent: 2rem;
}

@media (max-width: 768px) {
  .feedback__content .feedback__right p {
    font-size: 1rem;
    line-height: 1.875rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .feedback__content .feedback__right i {
    text-align: center;
  }
}

.slick-dots {
  bottom: -3rem;
}

.slick-dots li.slick-active button:before {
  color: #fb811e;
  font-size: 2rem;
}

.slick-dots li button:before {
  color: grey;
  font-size: 2rem;
}

/* Footer */

.footer__copyright h4 {
  position: relative;
}

.footer__copyright h4 a {
  color: #fb811e;
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.3s;
  letter-spacing: 1px;
}

.footer__copyright h4 i {
  position: absolute;
  top: -1px;
  left: 50px;
}

.footer__copyright h4 a:hover {
  text-decoration: none;
  color: black;
}

.footer__copyright p a {
  color: #009f4d;
  transition: all 0.3s;
}

.footer__copyright p a:hover {
  color: #fb811e;
  text-decoration: none;
}

.footer__content h3 {
  font-size: 1.25rem;
  line-height: 1.5625rem;
  margin-bottom: 2.375rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}

@media (max-width: 992px) {
  .footer__content h3 {
    margin-bottom: 1.5rem;
  }
}

.footer__address a {
  color: #707070;
  transition: all 0.3s;
}

.footer__address a:hover {
  color: #fb811e;
  text-decoration: none;
}

.footer__newsletter form input {
  border-radius: 30px 0 0 30px;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  width: 80%;
  background: #f4f4f4;
  border: 1px solid #eee;
  color: #b7b7b7;
}

.footer__newsletter form button {
  width: 20%;
  border-radius: 0 30px 30px 0;
  border: 1px solid #009f4d;
  background-color: #009f4d;
  color: white;
  transition: all 0.3s ease-in-out;
}

.footer__newsletter form button:hover {
  opacity: 0.8;
}

.footer__newsletter ul li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}

.footer__newsletter ul li:hover i {
  background-color: rgba(255, 201, 69, 19%);
  color: #fb811e;
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}

.footer__newsletter ul li a i {
  color: #009f4d;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  background-color: #0abf5314;
  text-align: center;
  line-height: 2.1875rem;
  transition: all 0.3s ease-in-out;
}

/* Back to Top */
.backToTop {
  position: fixed;
  right: 15px;
  bottom: 90px;
  visibility: hidden;
  opacity: 0;
}

.backToTop i {
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  background-color: #009f4d;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.backToTop i:hover {
  opacity: 0.8;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-outm {
  opacity: 0.5;
}
